.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 14;
  line-height: 10px;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideToTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

#info.slide-in-animation {
  animation: slideInFromTop 1s ease-in-out;
}

#info.slide-out-animation {
  animation: slideToTop 1s ease-in-out;
}

#info {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  display: flex;
  cursor: url('/img/pointerr.png') 15 15, auto;
  animation: slideInFromTop 1s ease-in-out; /* Apply the animation */
}

#info.show-icon {
  opacity: 1;
}

#info.hide-icon {
  opacity: 0;
}

a {
  pointer-events: all;
}

#info > img,
#infoCardClick > img {
  width: 30px;
  transition: transform 0.3s;
}

a#infoCardClick {
  position: sticky;
  left: 90%;
  top: 5%;
  padding: 0;
  height: 30px;
}

#infoCard {
  padding: 30px 60px;
  width: 60%;
  height: 90%;
  justify-content: center;
  background-color: #eae5e1;
  color: #2e2d2d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  border-radius: 0px 51px 51px 51px;
  -moz-border-radius: 0px 51px 51px 51px;
  -webkit-border-radius: 0px 51px 51px 51px;
  opacity: 1;
  transform: translateX(-150%);
  transition: transform 2s ease-out;
  overflow-y: scroll;
  text-align: justify;
  line-height: 30px;
  /* scrollbar-width: thin;
  scrollbar-color: #2e2d2d #eae5e1; */
}

#infoCard::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}
#infoCard::-webkit-scrollbar-track {
  background: none;
  margin: 50px;
}

#infoCard::-webkit-scrollbar-thumb {
  background: #2e2d2d;
  border-radius: 25px;
  height: 15px;
  -webkit-box-shadow: 0px 15px 19px -5px rgba(34, 34, 34, 0.75);
  -moz-box-shadow: 0px 15px 19px -5px rgba(34, 34, 34, 0.75);
  box-shadow: 0px 15px 19px -5px rgba(34, 34, 34, 0.75);
}

#infoCard::-webkit-scrollbar-thumb:hover {
  background: #1f1e1e;
  -webkit-box-shadow: 0px 15px 19px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 15px 19px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 15px 19px -5px rgba(0, 0, 0, 0.75);
}

#info > img:hover,
#infoCardClick > img:hover {
  transform: scale(1.2);
}

#infoCard > a > img {
  justify-self: baseline;
}

#summary {
  width: 100%;
  margin: 2rem 0;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  line-height: 200%;
  color: #eae5e1;
  background-color: #2e2d2d;
  border-radius: 25px;
  padding: 1rem;
}

#summary > h3 > a {
  font-weight: 100;
  text-decoration: none;
  color: #ffebeb;
}

#summary > h3 {
  display: flex;
  align-items: center;
}

#infoCard.show-card-animation {
  transform: translateX(0);
}

#infoCard.hide-card-animation {
  transform: translateX(-150%);
}

hgroup > h3 {
  padding: 15px 0;
}

.header-right-corner {
  border-radius: 51px 51px 0px 51px;
  -moz-border-radius: 51px 51px 0px 51px;
  -webkit-border-radius: 51px 51px 0px 51px;
  background-color: #2e2d2d;
  color: #eae5e1;
  padding: 15px 40px 15px 15px;
  text-align: end;
}

.header-left-corner {
  border-radius: 51px 51px 51px 0px;
  -moz-border-radius: 51px 51px 51px 0px;
  -webkit-border-radius: 51px 51px 51px 0px;
  background-color: #2e2d2d;
  color: #eae5e1;
  padding: 15px;
}

#camButtonDiv {
  width: 100%;
  height: 10%;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding: 0 15px 30px 15px;
}

#camButtonDiv > button {
  width: 50%;
  margin: 2rem;
  height: 100%;
}

@keyframes getOpacity {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes takeOpacity {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

#camButtonDiv.slide-in-animation {
  animation: getOpacity 1s ease-in-out;
}

#camButtonDiv.slide-out-animation {
  animation: takeOpacity 1s ease-in-out;
}
